[user]
	name = eric
    email = eric_leijf@qq.com

[core]
    editor = vim
	excludesfile = /home/eric/.gitignore_global
[alias]
	last = log -1 HEAD
	graph = log --all --graph --decorate --oneline
	co = checkout
	br = branch
[credential]
	helper = cache
